.dlog-hero {
  margin-top: -42px;
  height: 600px;
  z-index: 0;
  position: relative;
  overflow: hidden;
  &__content {
    @include make-container();
    z-index: 10;
    position: relative;
    top: 200px;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    @include gradient-y(rgba(247, 157, 0, 0.2), rgba(100, 243, 140, 0.2))
  }
  &__title {
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 4px;
    font-size: 48px;
    font-weight: bold;
  }
  &__subtitle {
    color: rgb(255, 255, 255);
    font-size: 18px;
    max-width: 600px;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
  }

}
.block-system-branding-block {
  margin-right: 30px;
  &__site-name {
    font-weight: bold;
    font-size: 28px;

  }
}