{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  {% include '@blogger/include/header.html.twig' %}
  <main{{ main_layout_attributes.addClass(bem_block ~ '__content main-layout') }}>
    {{ page.content }}
    {{ page.sidebar_first }}
  </main>
  {{ snippet('footer_main') }}
</div>
