.block-main {
  &__menu {
    @include list-unstyled();
    display: flex;
  }
  &__menu-item-link {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  &__menu-item {
    margin-right: gap(3);
    &:last-child {
      margin-right: 0;
    }
  }
}