.block-footer {
  &__menu {
    @include list-unstyled();
    display: flex;
    justify-content: center;
  }
  &__menu-item {
    margin: 0 gap(2);
  }
  &__menu-item-link {
    font-weight: bold;
    color: $additional-theme-color;
  }
}