.footer {
  background: gray(50);
  padding: gap(5) 0;
  &__content {
    @include make-container();
  }
  &__copyright {
    text-align: center;
    color: gray(700);
    font-size: 14px;
    margin-bottom: gap(2);
  }
  .block-footer,
  .footer_social {
    margin-bottom: gap(4);
  }
  &__top {
    @include mdi-icon('menu-up');
    display: block;
    width: 120px;
    margin: 0 auto;
    font-size: 13px;
    transition: all.3s;
    &:hover {
      color: $additional-theme-color;
    }
    &::before {
      font-size: 24px;
      line-height: 19px;
      position: relative;
      top: 3px;
      margin-right: 3px;
    }
  }
}