$social_icons: (
  'facebook': 'facebook',
  'twitter': 'twitter',
  'instagram': 'instagram',
  'linkedin': 'linkedin',
);
.footer_social {
  &__items {
    @include list-unstyled();
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 0 gap(2);
  }
  &__link {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: theme-color();
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    transition: all.3s;
    &:hover {
      color: rgb(255, 255, 255);
      background: $additional-theme-color;
    }
  }
  @each $modifier, $icon in $social_icons {
    &__link--#{$modifier} {
    @include mdi-icon($icon, before, 0);
    }
  }
}