// This class added by includes/structure preprocess page hook. Don't forget
// to rename STARTER to your theme name to make it works. Or just remove.
.main-layout {
  @include make-container;
  @include make-container-max-widths;
  padding-top: gap(6);
  padding-bottom: gap(6);
}
