@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Lora");
html {
  scroll-behavior: smooth; }
html {
  scroll-behavior: smooth; }
@font-face {
  font-family: "Material Design Icons";
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=3.6.95");
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=3.6.95") format("embedded-opentype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=3.6.95") format("woff2"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=3.6.95") format("woff"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=3.6.95") format("truetype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.svg?v=3.6.95#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  color: #ef473a;
  text-decoration: none; }
  a:hover {
    color: #a33027;
    text-decoration: none; }

.breadcrumbs {
  font-size: 1rem;
  line-height: 1.5;
  background: transparent;
  padding: 0 0;
  margin-bottom: 0;
  border-radius: 4px;
  display: flex; }
  .breadcrumbs__path {
    display: inline; }
  .breadcrumbs__item-link {
    color: #ef473a; }
  .breadcrumbs__item-link--text {
    color: #202124; }
  .breadcrumbs__delimiter::after {
    margin: 0 4px;
    content: "/";
    color: #9e9e9e; }
  .breadcrumbs__current {
    display: inline; }
  @media (max-width: 47.9375em) {
    .breadcrumbs__path {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 0;
      flex-shrink: 1; }
    .breadcrumbs__delimiter:last-child {
      display: none; }
    .breadcrumbs__item-link--current::before {
      margin: 0 4px;
      content: "/";
      color: #9e9e9e; }
    .breadcrumbs__current {
      display: block;
      flex-grow: 1;
      flex-shrink: 0; } }

.button, .button--primary,
.button--action, .button--warning, .button-danger,
.button--danger, .button--success, .button--info, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent; }

.button {
  color: #606266;
  background-color: #ffffff;
  background-image: none;
  border-color: #dcdfe6;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button:focus, .button:hover {
    color: #606266;
    background-color: #e6e6e6;
    border-color: #b8becd; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
  .button:disabled {
    background-color: #ffffff;
    border-color: #dcdfe6;
    opacity: .65; }
  .button:active {
    color: #606266;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #b8becd;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }

.button--primary,
.button--action {
  color: white;
  background-color: #ef473a;
  background-image: none;
  border-color: #ef473a;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--primary:focus, .button--primary:hover,
  .button--action:focus,
  .button--action:hover {
    color: white;
    background-color: #e42112;
    border-color: #da2012; }
  .button--primary:focus,
  .button--action:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(239, 71, 58, 0.5); }
  .button--primary:disabled,
  .button--action:disabled {
    background-color: #ef473a;
    border-color: #ef473a;
    opacity: .65; }
  .button--primary:active,
  .button--action:active {
    color: white;
    background-color: #e42112;
    background-image: none;
    border-color: #da2012;
    box-shadow: 0 0 0 3px rgba(239, 71, 58, 0.5); }

.button--warning {
  color: white;
  background-color: #ffc107;
  background-image: none;
  border-color: #edb100;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--warning:focus, .button--warning:hover {
    color: white;
    background-color: #d39e00;
    border-color: #af8300; }
  .button--warning:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5); }
  .button--warning:disabled {
    background-color: #ffc107;
    border-color: #edb100;
    opacity: .65; }
  .button--warning:active {
    color: white;
    background-color: #d39e00;
    background-image: none;
    border-color: #af8300;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5); }

.button-danger,
.button--danger {
  color: white;
  background-color: #dc3545;
  background-image: none;
  border-color: #d32535;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button-danger:focus, .button-danger:hover,
  .button--danger:focus,
  .button--danger:hover {
    color: white;
    background-color: #bd2130;
    border-color: #9f1c28; }
  .button-danger:focus,
  .button--danger:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); }
  .button-danger:disabled,
  .button--danger:disabled {
    background-color: #dc3545;
    border-color: #d32535;
    opacity: .65; }
  .button-danger:active,
  .button--danger:active {
    color: white;
    background-color: #bd2130;
    background-image: none;
    border-color: #9f1c28;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); }

.button--success {
  color: white;
  background-color: #67c23a;
  background-image: none;
  border-color: #5dae34;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--success:focus, .button--success:hover {
    color: white;
    background-color: #529b2e;
    border-color: #447f26; }
  .button--success:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(103, 194, 58, 0.5); }
  .button--success:disabled {
    background-color: #67c23a;
    border-color: #5dae34;
    opacity: .65; }
  .button--success:active {
    color: white;
    background-color: #529b2e;
    background-image: none;
    border-color: #447f26;
    box-shadow: 0 0 0 3px rgba(103, 194, 58, 0.5); }

.button--info {
  color: white;
  background-color: #9e9e9e;
  background-image: none;
  border-color: #919191;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--info:focus, .button--info:hover {
    color: white;
    background-color: #858585;
    border-color: #737373; }
  .button--info:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.5); }
  .button--info:disabled {
    background-color: #9e9e9e;
    border-color: #919191;
    opacity: .65; }
  .button--info:active {
    color: white;
    background-color: #858585;
    background-image: none;
    border-color: #737373;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.5); }

.comments__content .indented {
  padding-left: 2rem; }

.contextual-region .contextual-links {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .contextual-region .contextual-links li a {
    color: inherit; }
  .contextual-region .contextual-links li:hover a {
    background: #eeeeee; }

.form-item {
  margin: 0 0 1rem; }
  .form-item__description {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: gray(500);
    font-size: 85%; }
  .form-item__label.option {
    margin-bottom: 0; }
  .form-item__label--required::after {
    content: "*";
    display: inline-block;
    color: #dc3545;
    margin: 0 0 0 4px; }
  .form-item--radio {
    margin-bottom: 0; }

.form-actions input {
  margin: 0 0.5rem 0 0;
  width: auto; }
  .form-actions input:last-child {
    margin: 0; }

.filter-wrapper {
  margin-top: -1rem; }

.form-wrapper__summary {
  background: #f5f5f5;
  padding: 0.5rem;
  cursor: pointer; }

.form-wrapper__content {
  padding: 0.5rem; }

.form-control {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-radius: 3px; }
  .form-control.error {
    border-color: #dc3545; }
  .form-control:focus {
    outline: medium none;
    border-color: #ef473a; }
  .form-control:disabled {
    cursor: not-allowed;
    background: #fafafa;
    font-size: 100%;
    color: #a3a3a3;
    text-shadow: none; }

.links--inline {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }
  .links--inline .links__item:not(:last-child) {
    margin-right: 0.5rem; }

.local-actions {
  padding: 0;
  margin: 0 0 1.5rem;
  list-style: none;
  display: flex; }
  .local-actions__item:not(:last-child) {
    margin-right: 0.5rem; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.messages {
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #5d5d5d;
  background-color: #fafafa;
  border-color: #eeeeee; }
  .messages hr {
    border-top-color: #e1e1e1; }
  .messages a {
    color: #444444; }
  .messages--error {
    color: #9f3a38;
    background-color: #fff6f6;
    border-color: #e0b4b4; }
    .messages--error hr {
      border-top-color: #d9a2a2; }
    .messages--error a {
      color: #792c2b; }
  .messages--status {
    color: #2c662d;
    background-color: #fcfff5;
    border-color: #a3c293; }
    .messages--status hr {
      border-top-color: #95b983; }
    .messages--status a {
      color: #1d421d; }
  .messages--warning {
    color: #573a08;
    background-color: #fffaf3;
    border-color: #c9ba9b; }
    .messages--warning hr {
      border-top-color: #c0af8a; }
    .messages--warning a {
      color: #281b04; }

.pager {
  margin: 1rem auto;
  padding: 0; }
  .pager__items {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none outside none;
    display: table; }
  .pager__item {
    display: inline-block;
    color: #8c8c8c;
    margin: 0;
    padding: 0 0.25rem; }
    .pager__item a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 0 0.25rem 0.25rem;
      font-weight: 600;
      text-decoration: none;
      color: #ef473a; }
    .pager__item.is-active a {
      border-bottom-color: #b41b0f;
      color: #b41b0f; }

table {
  background: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: gray(500);
  text-align: left; }

th {
  text-align: left; }

table, .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse; }
  table > thead > tr > th, .table > thead > tr > th,
  table > thead > tr > td,
  .table > thead > tr > td,
  table > tbody > tr > th,
  .table > tbody > tr > th,
  table > tbody > tr > td,
  .table > tbody > tr > td,
  table > tfoot > tr > th,
  .table > tfoot > tr > th,
  table > tfoot > tr > td,
  .table > tfoot > tr > td {
    padding: 0.75rem;
    line-height: 32px;
    vertical-align: top;
    border-top: 1px solid #e9ecef; }
  table > thead > tr > th, .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef; }
  table > tbody + tbody, .table > tbody + tbody {
    border-top: 2px solid #e9ecef; }

table > thead > tr > th, .table--condensed > thead > tr > th,
table > thead > tr > td,
.table--condensed > thead > tr > td,
table > tbody > tr > th,
.table--condensed > tbody > tr > th,
table > tbody > tr > td,
.table--condensed > tbody > tr > td,
table > tfoot > tr > th,
.table--condensed > tfoot > tr > th,
table > tfoot > tr > td,
.table--condensed > tfoot > tr > td {
  padding: 5px; }

table > tbody > tr:nth-of-type(odd), .table--srippted > tbody > tr:nth-of-type(odd), .table--stripped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

table > tbody > tr:hover, .table--hover > tbody > tr:hover {
  background-color: #f5f5f5; }

.table-responsive-container {
  overflow-x: auto;
  min-height: 0.01%; }
  @media (max-width: 35.9375em) {
    .table-responsive-container {
      width: 100%;
      margin-bottom: 24px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #e9ecef; }
      .table-responsive-container > .table {
        margin-bottom: 0; }
        .table-responsive-container > .table > thead > tr > th,
        .table-responsive-container > .table > thead > tr > td,
        .table-responsive-container > .table > tbody > tr > th,
        .table-responsive-container > .table > tbody > tr > td,
        .table-responsive-container > .table > tfoot > tr > th,
        .table-responsive-container > .table > tfoot > tr > td {
          white-space: nowrap; }
      .table-responsive-container > .table-bordered {
        border: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:first-child,
        .table-responsive-container > .table-bordered > thead > tr > td:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:first-child {
          border-left: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:last-child,
        .table-responsive-container > .table-bordered > thead > tr > td:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:last-child {
          border-right: 0; }
        .table-responsive-container > .table-bordered > tbody > tr:last-child > th,
        .table-responsive-container > .table-bordered > tbody > tr:last-child > td,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > th,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > td {
          border-bottom: 0; } }

a.tabledrag-handle .handle {
  height: rem(24);
  width: rem(20); }

.tabs {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap; }
  .tabs--primary {
    margin: 0 0 1.5rem;
    border-bottom: 2px solid #eeeeee; }
    .tabs--primary .tabs__menu-item {
      position: relative; }
    .tabs--primary .tabs__menu-item-link {
      display: block;
      padding: 10px;
      color: #202124;
      position: relative; }
      .tabs--primary .tabs__menu-item-link:hover {
        color: #ef473a; }
      .tabs--primary .tabs__menu-item-link.is-active {
        color: #ef473a;
        font-weight: bold;
        position: relative; }
        .tabs--primary .tabs__menu-item-link.is-active::before {
          content: '';
          width: 70%;
          height: 2px;
          background: #ef473a;
          position: absolute;
          bottom: -2px;
          left: 15%; }
        .tabs--primary .tabs__menu-item-link.is-active:hover {
          color: #a33027; }
  .tabs--secondary {
    margin: 0 0 1.5rem; }
    .tabs--secondary .tabs__menu-item {
      position: relative; }
    .tabs--secondary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid #e0e0e0;
      color: #202124; }
      .tabs--secondary .tabs__menu-item-link:hover {
        color: gray(500);
        border-bottom-color: #ef473a; }
      .tabs--secondary .tabs__menu-item-link.is-active {
        border-bottom-width: 2px;
        border-bottom-color: #ef473a;
        color: #ef473a;
        font-weight: bold; }
        .tabs--secondary .tabs__menu-item-link.is-active:hover {
          color: #a33027; }

.vertical-tabs {
  background: white; }
  .vertical-tabs .vertical-tabs__menu {
    background: #fbfaf8;
    border: 1px solid #dddddd; }
    .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item {
      border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item a {
        color: #555459;
        border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected {
        background: #439fe0; }
        .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected strong, .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected .summary {
          color: white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .vertical-tabs .vertical-tabs__panes {
    padding: 1rem; }

.text-subtle {
  color: gray(500); }

.text-highlight {
  color: gray(600); }

.text-info {
  color: theme-color(info); }

.text-success {
  color: theme-color(success); }

.text-warning {
  color: theme-color(warning); }

.text-error {
  color: theme-color(error); }

.highlight, .highlight-info, .highlight-success, .highlight-warning, .highlight-error {
  padding: 1px 4px;
  font-weight: bold;
  text-shadow: none;
  border-radius: 3px;
  color: #d7dae0;
  background: #31363f; }

.highlight-info {
  color: white;
  background: #9e9e9e; }

.highlight-success {
  color: #dff3d5;
  background: #67c23a; }

.highlight-warning {
  color: #fff4d3;
  background: #ffc107; }

.highlight-error {
  color: #fae3e5;
  background: #dc3545; }

.ui-widget {
  font-family: "Lora", serif; }

.ui-widget-overlay {
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.ui-dialog {
  z-index: 100;
  background: white;
  color: #202124;
  padding: 0;
  border-radius: 4px;
  border: transparent !important;
  max-width: 100%;
  font-size: 16px; }
  .ui-dialog .ui-widget-header {
    border-radius: 4px;
    background: transparent;
    color: #202124;
    padding: 1rem 1rem 0.5rem;
    border: none;
    border-bottom: none; }
    .ui-dialog .ui-widget-header .ui-dialog-title {
      color: #333333;
      font-weight: bold;
      font-size: 16px; }
    .ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
      float: right;
      background: none;
      width: auto;
      border: none;
      text-indent: 0;
      font-size: 28px;
      line-height: 1; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        content: "\F5AD";
        font-family: "Material Design Icons";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        position: relative;
        top: -6px; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon {
        display: none; }
        .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon:before {
          margin: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-button-text {
        padding: 0;
        font-size: "Lora", serif;
        line-height: 32px; }
  .ui-dialog .ui-dialog-content {
    padding: 0 1rem;
    border: none;
    overflow: auto; }
  .ui-dialog .ui-dialog-buttonpane {
    background: transparent;
    padding: 0 1rem 1rem;
    border: none;
    border-top: none; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      display: table;
      margin: 0 auto; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
        color: white;
        background-color: #ef473a;
        background-image: none;
        border-color: #ef473a;
        transition: all .15s ease-in-out;
        box-shadow: none;
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:hover {
          color: white;
          background-color: #e42112;
          border-color: #da2012; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(239, 71, 58, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:disabled {
          background-color: #ef473a;
          border-color: #ef473a;
          opacity: .65; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:active {
          color: white;
          background-color: #e42112;
          background-image: none;
          border-color: #da2012;
          box-shadow: 0 0 0 3px rgba(239, 71, 58, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button .ui-button-text {
          padding: 0; }

.views-mini-pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.views-mini-pager__item--label {
  padding: 0.5rem;
  color: #757575; }

.views-mini-pager__item-link {
  padding: 0.5rem;
  display: block; }

.main-layout {
  width: 100%;
  max-width: 1140px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (min-width: 36em) {
    .main-layout {
      width: 33.75em;
      max-width: 100%; } }
  @media (min-width: 48em) {
    .main-layout {
      width: 45em;
      max-width: 100%; } }
  @media (min-width: 62em) {
    .main-layout {
      width: 60em;
      max-width: 100%; } }
  @media (min-width: 75em) {
    .main-layout {
      width: 71.25em;
      max-width: 100%; } }

.dlog-hero {
  margin-top: -42px;
  height: 600px;
  z-index: 0;
  position: relative;
  overflow: hidden; }
  .dlog-hero__content {
    width: 100%;
    max-width: 1140px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    position: relative;
    top: 200px; }
  .dlog-hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .dlog-hero__video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .dlog-hero::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(247, 157, 0, 0.2) 0%, rgba(100, 243, 140, 0.2) 100%);
    background-repeat: repeat-x; }
  .dlog-hero__title {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 4px;
    font-size: 48px;
    font-weight: bold; }
  .dlog-hero__subtitle {
    color: white;
    font-size: 18px;
    max-width: 600px;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px; }

.block-system-branding-block {
  margin-right: 30px; }
  .block-system-branding-block__site-name {
    font-weight: bold;
    font-size: 28px; }

.block-main__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.block-main__menu-item-link {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 42px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }

.block-main__menu-item {
  margin-right: 1.5rem; }
  .block-main__menu-item:last-child {
    margin-right: 0; }

.block-footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.block-footer__menu-item {
  margin: 0 1rem; }

.block-footer__menu-item-link {
  font-weight: bold;
  color: #558E90; }

.node-page-full__field-paragraphs-item {
  margin-bottom: 2rem; }

.paragraph-image-and-text__content {
  display: flex;
  flex-wrap: wrap; }

.paragraph-image-and-text__field-title {
  flex: 100%; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-image {
  flex: 29%;
  margin-right: 10px; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-content {
  flex: 70%; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-image {
  flex: 49%;
  margin-right: 10px; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-content {
  flex: 50%; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-image {
  flex: 59%;
  margin-right: 10px; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-content {
  flex: 40%; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-image {
  flex: 29%;
  margin-left: 10px;
  order: 3; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-content {
  flex: 70%;
  order: 2; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-image {
  flex: 50%;
  margin-left: 10px;
  order: 3; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-content {
  flex: 50%;
  order: 2; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-image {
  flex: 59%;
  margin-left: 10px;
  order: 3; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-content {
  flex: 40%;
  order: 2; }

.header__top {
  width: 100%;
  max-width: 1140px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  position: relative;
  z-index: 20;
  align-items: center; }

.footer {
  background: #fafafa;
  padding: 2.5rem 0; }
  .footer__content {
    width: 100%;
    max-width: 1140px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto; }
  .footer__copyright {
    text-align: center;
    color: #616161;
    font-size: 14px;
    margin-bottom: 1rem; }
  .footer .block-footer,
  .footer .footer_social {
    margin-bottom: 2rem; }
  .footer__top {
    display: block;
    width: 120px;
    margin: 0 auto;
    font-size: 13px;
    transition: all 0.3s; }
    .footer__top:before {
      content: "\F360";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
    .footer__top:hover {
      color: #558E90; }
    .footer__top::before {
      font-size: 24px;
      line-height: 19px;
      position: relative;
      top: 3px;
      margin-right: 3px; }

.footer_social__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.footer_social__item {
  margin: 0 1rem; }

.footer_social__link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #ef473a;
  color: white;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s; }
  .footer_social__link:hover {
    color: white;
    background: #558E90; }

.footer_social__link--facebook:before {
  content: "\F20C";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer_social__link--twitter:before {
  content: "\F544";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer_social__link--instagram:before {
  content: "\F2FE";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer_social__link--linkedin:before {
  content: "\F33B";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

/*# sourceMappingURL=maps/components.css.map */
