@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Lora");
html {
  scroll-behavior: smooth; }
html {
  scroll-behavior: smooth; }
* {
  box-sizing: border-box;
  min-width: 0; }

:focus {
  outline: 2px dashed rgba(239, 71, 58, 0.3);
  outline-offset: 3px; }

::-moz-selection {
  background: #ef473a;
  color: #ffffff; }

::selection {
  background: #ef473a;
  color: #ffffff; }

html {
  font-size: 1rem;
  line-height: 2;
  overflow-y: scroll;
  min-height: 100%; }

body {
  font-size: 1rem;
  line-height: 1.5;
  background: #ffffff;
  font-family: "Lora", serif;
  color: #202124; }

p {
  margin: 0 0 1rem; }
  p:last-child {
    margin-bottom: 0; }

small {
  font-size: 0.8rem;
  line-height: 1.875;
  font-weight: normal; }

big {
  font-size: 1.2rem;
  line-height: 1.66667;
  font-weight: normal; }

mark {
  padding: 0.2em;
  background-color: #fff9c4;
  color: inherit; }

code {
  font-size: 16px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

h1 {
  font-size: 2.25rem;
  line-height: 1.33333; }

h2 {
  font-size: 1.75rem;
  line-height: 1.42857; }

h3 {
  font-size: 1.5rem;
  line-height: 1.33333; }

h4 {
  font-size: 1.25rem;
  line-height: 1.6; }

h5 {
  font-size: 1.125rem;
  line-height: 1.77778; }

h6 {
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: unset;
  margin-bottom: 0.5rem; }

a {
  color: #ef473a;
  text-decoration: none; }
  a:hover {
    color: #a33027;
    text-decoration: none; }

ol, ul {
  margin: 1rem 0 1rem 2rem;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  font-style: italic;
  vertical-align: middle; }

blockquote {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  border-left: 4px solid #bdbdbd;
  background: transparent; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #9e9e9e; }

/*# sourceMappingURL=maps/elements.css.map */
