@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Lora");
html {
  scroll-behavior: smooth; }
html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=maps/objects.css.map */
