.paragraph-image-and-text {
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__field-title {
    flex: 100%;
  }
  // Left.
  &--image-size-4-12-left {
    .paragraph-image-and-text__field-image {
      flex: 29%;
      margin-right: 10px;
    }
    .paragraph-image-and-text__field-content {
      flex: 70%;
    }
  }
  &--image-size-6-12-left {
    .paragraph-image-and-text__field-image {
      flex: 49%;
      margin-right: 10px;
    }
    .paragraph-image-and-text__field-content {
      flex: 50%;
    }
  }
  &--image-size-8-12-left {
    .paragraph-image-and-text__field-image {
      flex: 59%;
      margin-right: 10px;
    }
    .paragraph-image-and-text__field-content {
      flex: 40%;
    }
  }
  // Right.
  &--image-size-4-12-right {
    .paragraph-image-and-text__field-image {
      flex: 29%;
      margin-left: 10px;
      order: 3;
    }
    .paragraph-image-and-text__field-content {
      flex: 70%;
      order: 2;
    }
  }
  &--image-size-6-12-right {
    .paragraph-image-and-text__field-image {
      flex: 50%;
      margin-left: 10px;
      order: 3;
    }
    .paragraph-image-and-text__field-content {
      flex: 50%;
      order: 2;
    }
  }
  &--image-size-8-12-right {
    .paragraph-image-and-text__field-image {
      flex: 59%;
      margin-left: 10px;
      order: 3;
    }
    .paragraph-image-and-text__field-content {
      flex: 40%;
      order: 2;
    }
  }
}