// =============================================================================
// Color variables.
// =============================================================================

// Base colors.
$white: #ffffff !default;
$gray-50: #fafafa !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #e0e0e0 !default;
$gray-400: #bdbdbd !default;
$gray-500: #9e9e9e !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;
$black: #000000 !default;

$grays: () !default;
$grays: map-merge((
  50: $gray-50,
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
), $grays);

$blue: #1976d2 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #67c23a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
), $colors);

// Colors used in theme. Such as text colors, buttons, links and so on.
// Here is main colors of the theme.
// @see https://material.io/tools/color/ - can help you to chose correct colors.
// @see https://material.io/design/color/the-color-system.html#color-usage-palettes
// very good description, what is all about.
$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $blue,
  primary-variant: $blue,
  on-primary: $white,
  secondary: $indigo,
  secondary-variant: $indigo,
  on-secondary: $black,
  background: $white,
  surface: $white,
  success: $green,
  info: $gray-500,
  warning: $yellow,
  error: $red,
), $theme-colors);

$theme-color-interval: 8% !default;

$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

